/* Style the main window */
window {
  background-color: #22252d20;
}

/* Style the search bar */
.search-entry {
  font-size: 2.3rem;
  min-height: 1rem;
  border-radius: 1rem;
  border: none;
  color: #f0f0f0;
  background-color: #44454B45;
  margin: 0.8rem;
}

.search-entry text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.result-comment {
  font-size: 0.9rem;
}

/* Style the result list */
.results-list {
  /* background-color: #34343B; */
  background-color: #20242C00;
}

/* Style for a single result row */
.result-row {
  border: none;
  font-size: 1.6rem;
}

.result-row-content {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.result-row:hover {
  background-image: none;
  background-color: #22252d00;
}

/* Style for a selected result row */
.result-row:selected {
  background-image: none;
  /* background-color: #44454B70; */
  background-color: #DEC4D120;
}
